<html>
<style>
body {
font-family: 'Arial', serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0
    padding: 0;
}
a { 
color:black;
text-decoration: none;
}
a:hover{
background-color: floralwhite;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #A0134B;
    text-decoration: underline;
    font-weight: bold;
}

}
header {
  background-color:#40E0D0
  color:black;
    text-align: center;
    padding: 20px;
}
h1,h2 {
    font-family: 'Georgia', serif;
    text-align: center;
}
h3 {
  font-family: 'Georgia', serif;
    text-align: center;
    color:black;
}

nav {
   backround-color:#40E0d0;
   color:black;
    padding: 10 px;
}

ul {
 list-style-type: none;
    padding:0;
    text-align: center;
}
li {
display: inline;
margin: 0 10px;
}

<title> Centered Image Example </title>
<style>
.image-container {
    text-align: center;
}
</style>
<body>
 <h1> Centered Image </h1>
 <div class = "image-container">
    <img src= "IMG_1406.jpg" alt= "Brooklyn the dog walking on the beach">
</div>
</body>
</style>

</html>
